# --------------------------
# Virtual Environments
# --------------------------
venv/
env/
.venv/

# --------------------------
# Python cache files
# --------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------------
# Jupyter Notebook files
# --------------------------
.ipynb_checkpoints/

# --------------------------
# Streamlit files
# --------------------------
.streamlit/

# --------------------------
# Environment variables
# --------------------------
.env

# --------------------------
# OS files
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# Logs
# --------------------------
*.log

# --------------------------
# Model files
# --------------------------
*.pkl
*.joblib

# --------------------------
# IDE / Editor files
# --------------------------
.vscode/
.idea/
*.swp

# --------------------------
# Data files (optional)
# --------------------------
data/